/* @import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap"); */

.container {
  position: relative;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-family: inherit;
  background-color: #15172b;
  /* font-family: "Josefin Sans", sans-serif; */
}

.expandIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255 255 255 / 0.9);
  margin-block-end: 7px;
}

.expandIconRot {
  transform: rotateX(180deg);
}

.form-layout-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: no-wrap;
  width: 100%;
  gap: 0px;
}

.ipStartLoc {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #303245;
  outline: 0;
  height: 3rem;
  padding-block: 0;
  width: 100%;
  padding-inline: 10px;
  /* border-top-right-radius: 0;
  border-bottom-right-radius: 0; */
  border-block: 3px solid rgba(255, 255, 255, 0.05);
  border-left: 3px solid rgba(255, 255, 255, 0.05);
  border-right: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
}

.btnStartLoc {
  overflow: visible;
  position: relative;
  float: right;
  border: 3px solid rgba(0, 0, 0, 0.2);
  padding: 5px;
  cursor: pointer;
  height: 3rem;
  width: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-top-right-radius: 10px;
  border-bottom-right-radius: 10px; */
  /* font: 13px/40px "lucida sans", "trebuchet MS", "Tahoma"; */
  color: #fff;
  background: rgb(0, 112, 225);
  /* margin-top: -11.3%;
  margin-right: 1%; */
  /* right: 7px;
  top: 33px; */
}

.form-layout-2 {
  margin-block: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.labelPandal {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  color: #ffa800;
}
.form-layout-2 > span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.divPandal {
  background-color: #303245;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 60px;
  padding: 1.2rem;
  text-align: center;
  border: 3px solid rgba(255, 255, 255, 0.05);
  box-sizing: border-box;
  color: #eee;
  font-size: 20px;
  cursor: default;
}

#minus,
#plus {
  background-color: #303245;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 60px;
  text-align: center;
  border: 3px solid rgba(255, 255, 255, 0.05);
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
}

.form-layout-3 {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#ipCheck {
  scale: 1.1;
  width: fit-content;
  border-radius: 5px;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.labelCheck {
  position: relative;
  font-size: 14px;
  color: #eee;
}

.form-layout-4 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sbm-btn {
  margin: 25px;
  margin-inline: auto;
  appearance: button;
  backface-visibility: hidden;
  /* background-color: #405cf5; */
  background-color: rgb(0, 112, 225);
  border: 3px solid rgba(0, 0, 0, 0.2);
  border-radius: 0;
  /* box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0; */
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  /* font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, sans-serif; */
  font-size: 16px;
  min-width: 85%;
  height: 44px;
  line-height: 1.15;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all 0.2s, box-shadow 0.08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.sbm-btn:disabled {
  cursor: default;
}

.sbm-btn:focus {
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.2) 0 6px 15px 0, rgba(0, 0, 0, 0.1) 0 2px 2px 0,
    rgba(50, 151, 211, 0.3) 0 0 0 4px;
}
